<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting label="Download" type="lsep" />
        <setting id="dlpath" type="folder" label="Download Path" source="auto" option="writeable" />
        <setting id="keep_files" type="bool" label="Keep files after playback/download stops" default="false" />

        <setting label="Auto-unblock websites (via Immunicity)" type="lsep"/>
        <setting id="immunicity" type="bool" label="Enable" default="false" />

        <setting label="BitTorrent options" type="lsep" />
        <setting id="magnet_boost" label="Magnet Booster" type="bool" default="true" />
        <setting id="max_upload_rate" label="Max Upload Rate (kB/s)" type="number" default="" />
        <setting id="max_download_rate" label="Max Download Rate (kB/s)" type="number" default="" />
        <setting id="encryption" label="Encryption" type="enum" values="Forced|Enabled|Disabled" default="1" />
    </category>
    <category label="Advanced">

        <setting label="Custom domains" type="lsep"/>
        <setting id="base_eztv" type="text" label="EZTV" default="http://eztv.it" />
        <setting id="base_yify" type="text" label="YIFY Torrents" default="http://yify-torrents.com" />
        <setting id="base_kickass" type="text" label="Kickass Torrents" default="http://kickass.to" />
        <setting id="base_tpb" type="text" label="The Pirate Bay" default="http://thepiratebay.org" />


        <setting label="Google Analytics" type="lsep"/>
        <setting id="ga_disable" type="bool" label="Disable (except for index)" default="false" />

        <setting label="XBMC Android" type="lsep"/>
        <setting id="android_app_id" type="text" label="Custom Android Application ID" default="org.xbmc.xbmc" />
    </category>
</settings>
